@keyframes animateON {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translate(100%);
  }

  to {
    opacity: 1;
    visibility: visible;
    transform: none;
  }
}

@keyframes animateOut {
  from {
    opacity: 1;
    visibility: visible;
    transform: none;
  }

  to {
    opacity: 0;
    visibility: hidden;
    transform: translate(100%);
  }
}

.burger {
  display: none;
}

@media screen and (max-width:768px) {
  .burger {
    display: block;

    .modal {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      visibility: hidden;
      background-color: #202020;
      opacity: 0.3;
      z-index: 999;

      &.open {
        animation: animateON 0.5s linear;
        transform: none;
        visibility: visible;
      }

      &.close {
        animation: animateOut .5s linear;
        transform: translate(100%);
      }
    }

    .burger-menu {
      position: fixed;
      right: 0;
      top: 0;
      width: 520px;
      height: 100vh;
      box-sizing: border-box;
      background-color: #202020;
      visibility: hidden;
      z-index: 999;

      &.open {
        animation: animateON 0.5s linear;
        transform: none;
        visibility: visible;
      }

      &.close {
        animation: animateOut .5s linear;
        transform: translate(100%);
      }

      .burger-menu__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;

        .burger-menu__close-icon {
          position: absolute;
          right: 22px;
          top: 22px;
          border: 0;
          width: 33px;
          height: 22px;
          background: url("../../../images/close.svg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          background-color: transparent;
        }

        .burger-menu__link-wrapper {
          margin: 0 auto;

          .burger-menu__links {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 159px auto 0;
            list-style-type: none;
            padding: 0;
            max-width: 340px;

            .burger-menu__link-li {
              &:not(:last-child) {
                margin-bottom: 28px;
              }

              .burger-menu__link {
                font-weight: 500;
                font-style: normal;
                font-size: 18px;
                line-height: 22px;
                text-decoration: none;
                color: #fff;

                &:hover,
                &:focus {
                  border-bottom: 1px solid rgb(255, 255, 255);
                  padding-bottom: 4px;
                }
              }
            }
          }
        }

        .burger-menu__account {
          margin: 50vh auto 92px;

          .burger-menu__btn-profile {
            display: flex;
            flex-direction: row;
            align-items: center;
            text-decoration: none;
            color: #fff;

            .burger-menu__link-text {
              margin: 0 13px 0 0;
            }

            .burger-menu__account-icon {
              padding: 10px;
              background-color: #313131;
              border-radius: 6px;
            }
          }
        }
      }
    }
  }
}


@media screen and (max-width: 519px) {
  .burger {

    .burger-menu {
      width: 320px;

      .burger-menu__container {

        .burger-menu__link-wrapper {

          .burger-menu__links {
            margin: 144px auto 0;

            .burger-menu__link-li {
              &:not(:last-child) {
                margin-bottom: 24px;
              }
            }

            .burger-menu__account {
              margin: 50vh auto 48px;
            }
          }
        }
      }
    }
  }
}