.navigation {
    margin: 0 auto;
    padding: 24px 0;
    background-color: #272727;

    .navi {
        display: flex;
        align-items: center;
        margin: 0;

        .navigation__items {
            list-style: none;
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 0 auto;
            padding: 0;

            .navigation__item {
                padding: 0;
                margin: 0 40px 0 0;
                color: #fff;
                text-decoration: none;
                border-bottom: 1px solid #FFFFFF;
                transition: all .5s ease;
                font-style: normal;
                font-weight: 500;
                font-size: 13px;
                line-height: 123%;

                &:hover {
                    opacity: 0.5;
                }

                &:last-of-type {
                    margin: 0;
                }

                .navigation__item-a {
                    color: #fff;
                    text-decoration: none;
                }
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .navigation {
        padding: 26px 0 22px;
    }
}

@media screen and (max-width: 519px) {
    .navigation {
        padding: 24px 0;

        .nav {
            .navigation__items {
                .navigation__item {
                    font-size: 11px;
                    line-height: 145%;
                    margin-right: 24px;
                }
            }
        }
    }
}