.movies__card-save {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #2F2F2F;
    margin: 0;

    .movies__card_info-save {
        max-width: 100%;
        color: #ffffff;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 22px 0 22px 22px;

        .movies__card_title-save {
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            margin: 0;
        }

        .movies__card_duration-save {
            font-style: normal;
            font-weight: 400;
            font-size: 11px;
            line-height: 13px;
            color: #8B8B8B;
            margin: 13px 0 30px;
        }

        .movies__card_delete-save {
            width: 8px;
            height: 8px;
            background-image: url("../../../images/X.svg");
            background-position: center;
            background-color: transparent;
            background-repeat: no-repeat;
            background-size: cover;
            border: 0;
            outline: 0;
        }
    }

    .movies__card_image-save {
        display: flex;
        padding: 0;
        margin: 6px;

        .movies__card_img-save {
            padding: 0;
            margin: 0 auto;
            width: 220px;
            height: 122px;
        }
    }
}

@media screen and (max-width: 519px) {
    .movies__card-save {
        flex-direction: column-reverse;
        background-color: transparent;
        max-width: 300px;
        margin: 0 auto;

        .movies__card_info-save {
            background-color: #2F2F2F;
            padding: 14px 0;
            margin: 0;
            display: grid;
            justify-content: space-between;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas:
                'title title delete'
                'duration duration duration'
            ;
            justify-items: start;
            align-items: center;

            .movies__card_title-save {
                font-size: 12px;
                line-height: 15px;
                grid-area: title;
                margin-left: 12px;
            }

            .movies__card_duration-save {
                grid-area: duration;
                margin: 8px 0 0 12px;
            }

            .movies__card_delete-save {
                grid-area: delete;
                margin-left: auto;
                margin-right: 19px;
            }
        }
    }

    .movies__card_image-save {
        width: 300px;

        .movies__card_img-save {
            width: 300px;
            height: 168px;
            margin: 0;
        }

    }
}