.diplom_about {
    max-width: 1140px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

@media screen and (max-width: 1279px) {
    .diplom_about {
        max-width: 668px;
    }
}

@media screen and (max-width: 767px) {
    .diplom_about {
        max-width: 284px;
        grid-template-columns: 1fr;
    }
}