.diplom_about {
    max-width: 1140px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
    align-items: center;
}

@media screen and (max-width: 900px) {
    .diplom_about {
        max-width: 668px;
        column-gap: 30px;
    }
}

@media screen and (max-width: 519px) {
    .diplom_about {
        max-width: 284px;
        grid-template-columns: 1fr;
    }
}