.saved__movies {
    max-width: 1140px;
    margin: 0 auto;
    height: 100vh;
}

@media screen and (max-width: 900px) {
    .saved__movies {
        max-width: 708px;
    }
}

@media screen and (max-width: 519px) {
    .saved__movies {
        max-width: 300px;
    }
}