.header {
    display: flex;
    justify-content: space-between;
    margin: 28px auto 18px;
    max-width: 1140px;
    align-items: center;

    .header__logo {
        width: 38px;
        height: 38px;
        margin: 0;
        padding: 0;
    }

    .header__nav {
        margin-left: auto;

        .header__links {
            display: flex;
            list-style: none;
            align-items: center;
            padding: 0;
            margin: 0;

            .header__link {
                color: #fff;
                text-decoration: none;
                margin-left: 20px;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 129%;

                &.link {
                    font-weight: 400;
                }
            }
        }
    }

    .header__account {
        display: flex;
        flex-direction: row;
        color: #fff;
        text-decoration: none;
        margin-left: 50px;

        .header__account-text {
            margin-right: 13px;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 114%;
        }

        .header__account-icon {
            border: none;
            padding: 9.75px;
            background-color: #313131;
            border-radius: 6px;
        }
    }

    .header__button_burger-menu {
        display: none;
        border: none;
        padding: 0;
        width: 44px;
        height: 44px;
        font: inherit;
        color: inherit;
        background-image: url("../../images/burger.svg");
        background-color: transparent;
    }
}

@media screen and (max-width: 900px) {
    .header {
        max-width: 800px;
    }
}

@media screen and (max-width: 768px) {
    .header {
        max-width: 708px;

        .header__nav {
            display: none;
        }

        .header__button_burger-menu {
            display: flex;
            margin-left: auto;
        }
    }
}

@media screen and (max-width: 519px) {
    .header {
        max-width: 292px;
    }
}