.movies__card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #2F2F2F;
    max-width: 1140px;

    .movies__card_info {
        color: #ffffff;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 22px 22px 22px;

        .movies__card_title {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            margin: 0 0 0 15px;
        }

        .movies__card_duration {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 11px;
            line-height: 13px;
            color: #8B8B8B;
            margin: 13px 0 30px;
        }

        .movies__card_like {
            width: 14px;
            height: 12px;
            background-image: url("../../../images/likedis.svg");
            background-position: center;
            background-color: transparent;
            background-repeat: no-repeat;
            background-size: cover;
            border: 0;
            outline: 0;

            &.movies__card_like-active {
                width: 14px;
                height: 12px;
                background-image: url("../../../images/likeactive.svg");
                background-position: center;
                background-color: transparent;
                background-repeat: no-repeat;
                background-size: cover;
                border: 0;
                outline: 0;
            }
        }
    }

    .movies__card_image {
        margin: 6px 6px;
    }
}

@media screen and (max-width: 1279px) {
    .movies__card {
        max-width: 708px;
    }
}

@media screen and (max-width: 767px) {
    .movies__card {
        max-width: 300px;
        flex-direction: column-reverse;

        .movies__card_info {
            margin: 14px auto;
            display: grid;
            justify-content: space-between;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas:
                'title title like'
                'duration duration duration'
            ;
            justify-items: start;
            align-items: center;


            .movies__card_title {
                font-size: 12px;
                line-height: 15px;
                grid-area: title;
                max-width: 228px;
            }

            .movies__card_duration {
                grid-area: duration;
                margin: 8px 0 0;
            }

            .movies__card_like {
                grid-area: like;
                margin-left: 74px;
            }
        }

        .movies__card_image {
            width: 300px;
            margin: 0;

            .movies__card_img {
                width: 300px;
            }


        }
    }
}