.form {
    display: flex;
    flex-direction: column;
    padding: 70px 0 49px;
    max-width: 1140px;
    margin: 0 auto;

    .search__form {
        padding: 0 0 15px;
        border-bottom: 1px solid #424242;
        display: flex;
        align-items: center;
        justify-content: space-between;


        .search__form_image {
            position: absolute;
            border-radius: 48px;
            border: 1px solid #424242;
            padding: 15px 15px;
            width: 15px;
            height: 10px;
            background-image: url("../../../images/search.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 15px 10px;
            background-color: transparent;
        }

        .search__form_input {
            position: relative;
            background-color: transparent;
            border: none;
            padding: 0;
            margin: 0;
            font-style: normal;
            font-weight: 500;
            font-size: 28px;
            line-height: 34px;
            text-align: center;
            color: #8B8B8B;
            width: 100%;
            outline: none;

            &:focus {
                border: 1px solid #4285F4;
                border-radius: 10px;
                color: #fff;
                opacity: 1;
            }
        }

        .search__form_btn {
            background-color: #4285F4;
            border-radius: 48px;
            padding: 8px 10.35px;
            border: 0;
            font-style: normal;
            font-weight: 500;
            font-size: 11px;
            line-height: 164%;
            text-align: center;
            color: #FFFFFF;
            cursor: pointer;
            transition: all 0.5s ease;

            &:hover {
                opacity: 0.5;
            }
        }
    }

    .search__form_input-error {
        color: red;
        margin-top: 5px;
    }
}

@media screen and (max-width: 900px) {
    .form {
        max-width: 800px;
        padding: 86px 0 49px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 519px) {
    .form {
        max-width: 292px;
        padding: 86px 0 49px;

        .search__form {
            .search__form_image {
                display: none;
            }

            .search__form_input {
                text-align: left;
                font-size: 18px;
                line-height: 22px;
            }
        }
    }
}